@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  /* Videobibliotek mobil. */
  /* Selve slideshowet */
}
body h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
body p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
body header {
  background-color: white;
  position: relative;
  width: 100%;
  height: 40px;
}
body header div a img {
  width: 70px;
  height: auto;
  margin: 4.5% 0% 2% 4%;
}
body header nav {
  display: none;
}
body .mestsete {
  background-color: #45C2D1;
  width: 100%;
  height: 200px;
  margin: 0;
  clear: both;
  padding: 8px 0px 60px 0px;
  margin-top: 16px;
}
body .mestsete h1 {
  margin-left: 5%;
  color: white;
}
body .mestsete video {
  margin-left: 5%;
  margin-top: 7px;
}
body .mercoverlay {
  height: 290px;
  width: 100%;
  background-color: white;
  display: inline-flex;
  bottom: 0;
  overflow-wrap: break-word;
  /* Pilen til venstre */
  /* Pilen til højre */
  /* Selve slideshowet */
}
body .mercoverlay .control_prev {
  margin-top: 110px;
  text-decoration: none;
  font-size: 60px;
  font-family: Roboto;
  color: black;
  z-index: 10;
  margin-left: 1%;
}
body .mercoverlay .control_next {
  margin-top: 110px;
  text-decoration: none;
  font-size: 60px;
  font-family: Roboto;
  color: black;
  z-index: 10;
  margin-left: 95%;
}
body .mercoverlay #slider {
  width: 95%;
  height: 275px;
  overflow: hidden;
  margin: auto;
  margin-top: 4px;
  position: absolute;
  clip: rect(10px, 1000px);
  margin: 0% 2.5%;
  /* Styring af billederne i slideshowet */
  /* Billederne i slideshowet */
  /* Billederne til venstre i slideshowet */
}
body .mercoverlay #slider .slides {
  display: block;
  width: 5100px;
  max-height: 300px;
  padding: 0%;
}
body .mercoverlay #slider .slide {
  float: left;
  list-style-type: none;
  width: 250px;
  height: 250px;
  margin: 0 5px;
  /* Skriften over billederne */
  /* Selve billederne */
}
body .mercoverlay #slider .slide h2 {
  background-color: rgba(255, 255, 255, 0.7);
  width: 135px;
  height: 70px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 20px;
  font-family: 'Quattrocento Sans', sans-serif;
  position: absolute;
  margin-top: -178px;
  color: #293952;
}
body .mercoverlay #slider .slide img {
  width: 100%;
  height: auto;
  position: relative;
}
body .mercoverlay #slider .left1 {
  margin-left: -265px;
}
body .mercoverlay #slider .left2 {
  margin-left: -530px;
}
body .mercoverlay #slider .left3 {
  margin-left: -795px;
}
body .mercoverlay #slider .left4 {
  margin-left: -1060px;
}
body .mercoverlay #slider .left5 {
  margin-left: -1325px;
}

.minliste, .kropsvægtstræning, .korrektionstræning, .opvarmningsprogrammer, .kettlebelltræning, .vægtstangstræning {
  width: 100%;
  height: 200px;
  margin: 0;
  clear: both;
  padding: 8px 0px 60px 0px;
  margin-top: 16px;
}
.minliste h1, .kropsvægtstræning h1, .korrektionstræning h1, .opvarmningsprogrammer h1, .kettlebelltræning h1, .vægtstangstræning h1 {
  margin-left: 5%;
  color: black;
}
.minliste video, .kropsvægtstræning video, .korrektionstræning video, .opvarmningsprogrammer video, .kettlebelltræning video, .vægtstangstræning video {
  margin-left: 5%;
  margin-top: 7px;
}

.kropsvægtstræning, .korrektionstræning, .opvarmningsprogrammer, .kettlebelltræning, .vægtstangstræning {
  margin-top: 0px;
}
.kropsvægtstræning video, .korrektionstræning video, .opvarmningsprogrammer video, .kettlebelltræning video, .vægtstangstræning video {
  margin-top: 0px;
}

/* Forside mobil. */
.forsidetekstogbillede {
  position: relative;
  margin: 0;
}
.forsidetekstogbillede .forsidebillede {
  width: 100%;
  height: auto;
}
.forsidetekstogbillede .forsidebillede .help {
  position: absolute;
}

@media screen and (min-width: 766px) {
  /* Tablet-version */
  body header {
    height: 90px;
  }
  body header div a img {
    width: 130px;
    height: auto;
    margin: 4.5% 0% 2% 4%;
  }
}
/* Forside ipad. */
.forsidebillede {
  margin-top: 2%;
}

@media screen and (min-width: 992px) {
  /* Desktop-version */
  body header {
    width: 100%;
  }
  body header div a img {
    width: 80px;
    height: auto;
    margin: 0;
    float: left;
    padding: 2.5% 0% 0% 3%;
  }
  body header div #mynav {
    display: none;
  }
  body header nav {
    float: right;
    text-decoration: none;
    display: inline-block !important;
    margin: auto;
  }
  body header nav ul {
    margin: auto;
    margin: 35px 25px 0px 0px;
  }
  body header nav ul li {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    list-style-type: none;
    display: inline-block;
  }
  body header nav ul a {
    color: black;
    text-decoration: none;
    padding-left: 35px;
  }
  body header nav ul .active {
    font-weight: bolder;
    color: black;
    /*border-bottom: 2px solid red;
    padding-bottom: 7px;*/
  }
}
