body {
margin: 0;
padding: 0;

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

header {
  background-color: white;
  position:relative;
  width: 100%;
  height: 40px;
  clear: both;
  height: auto;

  div {

    a {

      img {
      width: 70px;
      height: auto;
      margin: 4.5% 0% 2% 4%;
     }
   }
 }

nav {
  display: none;
 }

div {
  width: 100%;

  a {
    text-decoration: none;
    color: #293952;
}
}

.navi {
  height: 58%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(255,255,255, 0.9);
  overflow-x: hidden;
  transition: 0.3s;
  text-decoration: none;

    .overlayer {
      position: relative;
      top: 2%;
      text-align: left;

         a {
          padding: 8px;
          margin-left: 7%;
          margin-top: 20%;
          text-decoration: none;
          font-size: 22px;
          color: #FF5252;
          display: block;
          transition: 0.3s;
          border-bottom: 2px solid white;
          font-family: 'Raleway', sans-serif;
        }
      }

    .closebut {
      position: absolute;
      right: 3%;
      padding: 0;
      font-size: 40px;
      text-decoration: none;
      color: #293952;
    }
  }

span {
  display: block;
  font-size: 25px;
  color: #293952;
  cursor: pointer;
  float: right;
  margin: -11% 4% 0 0;
  }
}

 //Videobibliotek mobil.

 // .mestsete {
 //   background-color: #45C2D1;
 //   width: 100%;
 //   height: 200px;
 //   margin: 0;
 //   clear: both;
 //   padding: 8px 0px 60px 0px;
 //   margin-top: 16px;
 //
 //   h1 {
 //     margin-left: 5%;
 //     color: white;
 //   }
 //
 //  video {
 //    margin-left: 5%;
 //    margin-top: 7px;
 //  }
 //  }

 /* Selve slideshowet */
.mestsete{
  height: 270px;
  width: 100%;
  background-color: white;
  display: inline-flex;
  bottom: 0;
  overflow-wrap: break-word;
  background-color: #45C2D1;

  .overskriftvideoside{
    position: absolute;
    margin: 15px 55px;

  }

      /* Pilen til venstre */
      .control_prev{
        margin-top: 110px;
        text-decoration: none;
        font-size: 60px;
        font-family: Roboto;
        color: black;
        z-index: 10;
        margin-left: 1%;
      }

            /* Pilen til højre */
            .control_next{
            margin-top: 110px;
            text-decoration: none;
            font-size: 60px;
            font-family: Roboto;
            color: black;
            z-index: 10;
            margin-left: 95%;
            }

                /* Selve slideshowet */
                #slider {
                  width: 95%;
                  height: 230px;
                  overflow: hidden;
                //  margin: auto;
                  //margin-top: 4px;
                  position: absolute;
                  clip: rect(10px, 1000px);
                  margin: 40px 2.5% 0 2.5%;;
                  //overflow-x: visible;

                    /* Styring af billederne i slideshowet */
                    .slides {
                       display: block;
                       width: 6560px;
                       max-height: 300px;
                       padding: 0%;
                      }

          /* Billederne i slideshowet */
          .slide {
            float: left;
            list-style-type: none;
            width: 380px;
            height: auto;
            margin: 0 15px;

/* Skriften over billederne */
.text6 {
  background-color: rgba(255,255,255, 0.7);
  width: 135px;
  height: 70px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 20px;
  font-family: 'Quattrocento Sans', sans-serif;
  position: absolute;
  margin-top: -178px;
  color: #293952;
  }

      /* Selve billederne */
      img {
        width: 100%;
        height: auto;
        position: relative;
      }
     }

          /* Billederne til venstre i slideshowet */
          .left1 {
            margin-left: -415px;
          }

                .left2 {
                  margin-left: -830px;
                }

                  .left3{
                    margin-left: -1245px;
                  }

            .left4 {
              margin-left: -1660px;
            }

        .left5 {
          margin-left: -2075px;
        }
      }
    }

    .fællesslider{
      height: 270px;
      width: 100%;
      background-color: white;
      display: inline-flex;
      bottom: 0;
      overflow-wrap: break-word;
      //background-color: #45C2D1;

      .overskriftvideoside{
        position: absolute;
        margin: 15px 55px;

      }

          /* Pilen til venstre */
          .control_prev{
            margin-top: 110px;
            text-decoration: none;
            font-size: 60px;
            font-family: Roboto;
            color: black;
            z-index: 10;
            margin-left: 1%;
          }

                /* Pilen til højre */
                .control_next{
                margin-top: 110px;
                text-decoration: none;
                font-size: 60px;
                font-family: Roboto;
                color: black;
                z-index: 10;
                margin-left: 95%;
                }

                    /* Selve slideshowet */
                    #slider {
                      width: 95%;
                      height: 230px;
                      overflow: hidden;
                    //  margin: auto;
                      //margin-top: 4px;
                      position: absolute;
                      clip: rect(10px, 1000px);
                      margin: 40px 2.5% 0 2.5%;;
                      //overflow-x: visible;

                        /* Styring af billederne i slideshowet */
                        .slides {
                           display: block;
                           width: 6560px;
                           max-height: 300px;
                           padding: 0%;
                          }

              /* Billederne i slideshowet */
              .slide {
                float: left;
                list-style-type: none;
                width: 380px;
                height: auto;
                margin: 0 15px;

    /* Skriften over billederne */
    .text6 {
      background-color: rgba(255,255,255, 0.7);
      width: 135px;
      height: 70px;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 10px;
      font-size: 20px;
      font-family: 'Quattrocento Sans', sans-serif;
      position: absolute;
      margin-top: -178px;
      color: #293952;
      }

          /* Selve billederne */
          img {
            width: 100%;
            height: auto;
            position: relative;
          }
         }

              /* Billederne til venstre i slideshowet */
              .left1 {
                margin-left: -415px;
              }

                    .left2 {
                      margin-left: -830px;
                    }

                      .left3{
                        margin-left: -1245px;
                      }

                .left4 {
                  margin-left: -1660px;
                }

            .left5 {
              margin-left: -2075px;
            }
          }
        }

 //videobibliotek mobil slut
//}

// .minliste, .kropsvægtstræning, .korrektionstræning, .opvarmningsprogrammer, .kettlebelltræning, .vægtstangstræning {
//   width: 100%;
//   height: 200px;
//   margin: 0;
//   clear: both;
//   padding: 8px 0px 60px 0px;
//   margin-top: 16px;
//
//   h1 {
//     margin-left: 5%;
//     color: black;
//   }
//
//   video {
//     margin-left: 5%;
//     margin-top: 7px;
//   }
//  }
//
// .kropsvægtstræning, .korrektionstræning, .opvarmningsprogrammer, .kettlebelltræning, .vægtstangstræning {
// margin-top: 0px;
//
//    video {
//      margin-top: 0px;
//     }
//    }

/* Forside mobil. */

/* Billedet øverst med tekst ovenpå. */
.forsidetekstogbillede {
  position: relative;
  margin: 0;

.forsidebillede {
  width: 100%;
  height: auto;
  margin-top: 2%;
  position: absolute;
}

.help {
  position: absolute;

  h1 {
    font-size: 50px;
    margin-bottom: 0;
    margin-left: 7%;
  }

  h2 {
    font-size: 35px;
    margin-top: 2px;
    margin-left: 7%;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
  }

  h3 {
    font-size: 23px;
    margin-top: 2px;
    margin-left: 7%;
    font-family: 'Raleway', sans-serif;
  }

  /*button {
    background-color: #FF5252;
    border: none;
    padding: 5px 55px;
    color: white;
    border-radius: 50px;
    position: absolute;
  }*/
 }
}

/* De øverste bokse. */
.trebokse {
  margin-top: 65%;
  text-align: center;

  .second, .third, .first {
    margin-top: 15%;
  }

  p {
  margin: 4% 6%;
  }

    button {
      background-color: #FF5252;
      border: none;
      padding: 5px 55px;
      color: white;
      border-radius: 50px;
  }
}

/* Billedet af Klaus og teksten. */
.klausogtekst {
  margin-top: 12%;
  width: 100%;

  .klaus {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

  p {
    background-color: #2A2A2A;
    margin: 0;
    padding: 7% 5%;
    color: white;
    margin-top: -5px;
    text-align: center;
  }
}

/* Tekstbokse. */
.tekstbokse {
  background-color: white;
  padding: 20px;
  text-align: center;

  .tekstboks2, .tekstboks1 {
    margin-top: 30px;
    border: 1px;
    border-style:groove;
    border-color: black;
  }

  h1 {
    margin-top: 50px;
    color: black;
  }

  p {
    color: black;
    padding: 3px 20px;
  }

  button {
    background-color: #FF5252;
    color: white;
    margin-bottom: 50px;
    border: none;
    padding: 5px 55px;
    color: white;
    border-radius: 50px;
  }
 }

.brugfor {
  text-align: center;
  background-color: #2A2A2A;
  padding: 6% 0;

  h1, p {
    margin: 5px 10px;
    color: white;
  }

  button {
    background-color: #FF5252;
    border: none;
    padding: 5px 55px;
    color: white;
    border-radius: 50px;
 }
}

/* Videobiblioteket på forsiden. */
.videobibliotekforside {
  background-color: #48C3D1;
  margin-top: -13px;

  h1 {
    padding-top: 6%;
    color: white;
    text-align: center;
  }

  video {
    width: 90%;
    margin-top: 10px;
    padding-bottom: 3%;
    margin-left: 5%;
  }

  p {
    margin: 0;
    color: white;
    margin: 0 14px 20px 14px;
    text-align: center;
    padding-bottom: 5%;
  }
 }

/* Om Juviva mobil. */
.omosklaus {
  margin-top: 3%;
  width: 100%;

  .klausom {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

  p {
    background-color: white;
    margin: 0;
    padding: 7% 5%;
    color: black;
    margin-top: -5px;
    text-align: center;
  }
}

.collage {
  display: none;
}

.tekstboksomjuviva {
  margin-top: 30px;
  background-color: #FF5252;
  padding: 5px 5px;
}

h1 {
  margin-top: 50px;
  color: black;
  text-align: center;
}

p {
  color: black;
  padding: 3px 20px;
  text-align: center;
  margin-bottom: 40px;
}

footer {
  background-color: #2A2A2A;
  height: 70px;
 }
}

@media screen and (min-width: 766px){ /* Tablet-version */

body {

  header {
    height: 90px;

    div {

      a {

        img {
        width: 130px;
        height: auto;
        margin: 4% 0% 2% 4%;
       }
     }
   }

   .navi {

       .overlayer {

            a {
             font-size: 28px;
           }
         }

       .closebut {
         font-size: 60px;
       }
     }

   span {
     display: block;
     font-size: 34px;
     color: #293952;
     cursor: pointer;
     float: right;
     margin: -9.5% 4% 0 0;
     }
    }

/* Forside ipad. */

.forsidetekstogbillede {

  .forsidebillede {
    margin-top: 1%;
   }

.help {

  h1 {
    font-size: 120px;
    margin-bottom: 0;
    margin-left: 10%;
  }

  h2 {
    font-size: 100px;
    margin-top: 2px;
    margin-left: 10%;
    border-bottom: 3px black;
    border-bottom-style: inset;
  }

  h3 {
    font-size: 50px;
    margin-top: 2px;
    margin-left: 10%;
    font-family: 'Raleway', sans-serif;
  }
 }
}

/* De øverste bokse. */
.trebokse {
  width: 100%;
  height: 500px;

  .second, .third, .first {
    margin-top: 3%;
    width: 33.2%;
    display: inline-block;
    float: left;
    border-right: 1px black;
    border-right-style: inset;
   }
  }

/* Billedet af Klaus og teksten. */
  .klausogtekst {
    width: 100%;
    clear: both;
    height: 450px;

    .klaus {
      width: 50%;
      height: auto;
      float: left;
      }

    p {
      width: 40%;
      float: right;
      margin-top: 0;
      height: 316.5px;
    }
  }

  /* Tekstbokse. */
  .tekstbokse {
    width: 100%;
    clear: both;
    height: 570px;

    .tekstboks2, .tekstboks1 {
      width: 40%;
      float: left;
      margin-left: 6%;
    }

      .tekstboks2 {
        margin-left: 3%;
      }
   }

.brugfor {
  margin-bottom: 0%;
  margin-top: 5%;

  button {
    margin-top: 3%;
  }
  }
 }
}

@media screen and (min-width: 992px){ /* Desktop-version */

body {

  header {
    width: 100%;

    div {

      a {

        img {
        width: 80px;
        height: auto;
        margin: 0;
        float: left;
        padding: 2.5% 0% 0% 3%;
       }
     }

       #mynav {
         display: none;
      }
    }

nav {
  float: right;
  text-decoration: none;
  display: inline-block !important;
  margin: auto;

  ul {
    margin: auto;
    margin: 35px 25px 0px 0px;

     li {
      text-decoration: none;
      font-family: 'Raleway', sans-serif;
      font-size: 18px;
      list-style-type: none;
      display: inline-block;
     }

      a {
      color: black;
      text-decoration: none;
      margin-left: 35px;
    }

      .active {
      font-weight: bolder;
      color: black;
      border-bottom: 2px solid #FF5252;
      padding-bottom: 8px;
    }

   a:link {
    }
   }
  }
 }

 /* Forside ipad. */

 .forsidetekstogbillede {

   .forsidebillede {
     margin-top: 0%;
    }

 .help {

   h1 {
     font-size: 240px;
     margin-top: 4%;
     margin-left: 10%;
   }

   h2 {
     font-size: 200px;
     margin-top: 2px;
     margin-left: 10%;
     border-bottom: 4px black;
     border-bottom-style: inset;
   }

   h3 {
     font-size: 120px;
     margin-top: 2px;
     margin-left: 10%;
   }
  }
 }

 /* De øverste bokse. */
 .trebokse {
   height: 300px;

   .second, .third, .first {
     margin-top: 0%;
    }
   }

 /* Billedet af Klaus og teksten. */
   .klausogtekst {

     .klaus {
       }

     p {
       height: 340px;
       padding-top: 23%;
     }
   }

   /* Tekstbokse. */
   .tekstbokse {
     height: 570px;

     .tekstboks2, .tekstboks1 {
       width: 30%;
       margin-left: 16%;
       margin-top: 4%;
     }

       .tekstboks2 {
         margin-left: 3%;
       }
    }

 .brugfor {
   margin-bottom: 0%;
   margin-top: 0;
 }

 /* Videobiblioteket på forsiden. */
 .videobibliotekforside {
   margin-top: -2%;

   h1 {
     font-size: 30px;
   }

video  {
  width: 23.5%;
  float: left;
  margin-left: 1.2%;
  margin-top: 3%;
  }
  }
 }
}
