body {
margin: 0;
padding: 0;

// h1, h2, h3 {
//   font-family: 'Raleway', sans-serif;
//   font-size: 20px;
// }
//
// p {
//   font-family: 'Montserrat', sans-serif;
//   font-size: 17px;
//   list-style-type: none;
// }

header {
  background-color: white;
  position:relative;
  width: 100%;
  height: 40px;
  clear: both;
  height: auto;

  div {

    a {

      img {
      width: 70px;
      height: auto;
      margin: 4.5% 0% 2% 4%;
     }
   }
 }

nav {
  display: none;
 }

div {
  width: 100%;

  a {
    text-decoration: none;
    color: #293952;
}
}

.navi {
  height: 68%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(255,255,255, 0.9);
  overflow-x: hidden;
  transition: 0.3s;
  text-decoration: none;

    .overlayer {
      position: relative;
      top: 2%;
      text-align: left;

         a {
          padding: 8px;
          margin-left: 7%;
          margin-top: 20%;
          text-decoration: none;
          font-size: 22px;
          color: #FF5252;
          display: block;
          transition: 0.3s;
          border-bottom: 2px solid white;
          font-family: 'Raleway', sans-serif;
        }

          .active {
            border-left: 3px solid #FF5252;
        }
      }

    .closebut {
      position: absolute;
      right: 3%;
      padding: 0;
      font-size: 40px;
      text-decoration: none;
      color: #293952;
    }
  }

span {
  display: block;
  font-size: 25px;
  color: #293952;
  cursor: pointer;
  float: right;
  margin: -11% 4% 0 0;
  }
}

 /* Selve slideshowet */
.mestsete{
  height: 270px;
  width: 100%;
  background-color: white;
  display: inline-flex;
  bottom: 0;
  overflow-wrap: break-word;
  background-color: #45C2D1;

  .overskriftvideoside{
    position: absolute;
    margin: 15px 55px;

  }

      /* Pilen til venstre */
      .control_prev1{
        margin-top: 110px;
        text-decoration: none;
        font-size: 60px;
        font-family: Roboto;
        color: black;
        z-index: 10;
        margin-left: 1%;
      }

            /* Pilen til højre */
            .control_next1{
            margin-top: 110px;
            text-decoration: none;
            font-size: 60px;
            font-family: Roboto;
            color: black;
            z-index: 10;
            margin-left: 88%;
            }

                /* Selve slideshowet */
                #slider1 {
                  width: 95%;
                  height: 230px;
                  overflow: hidden;
                //  margin: auto;
                  //margin-top: 4px;
                  position: absolute;
                  clip: rect(10px, 1000px);
                  margin: 40px 2.5% 0 2.5%;;
                  //overflow-x: visible;

                    /* Styring af billederne i slideshowet */
                    .slides1 {
                       display: block;
                       width: 6560px;
                       max-height: 300px;
                       padding: 0%;
                      }

          /* Billederne i slideshowet */
          .slide1 {
            float: left;
            list-style-type: none;
            width: 380px;
            height: auto;
            margin: 0 15px;

/* Skriften over billederne */
.text6 {
  background-color: rgba(255,255,255, 0.7);
  width: 135px;
  height: 70px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 20px;
  font-family: 'Quattrocento Sans', sans-serif;
  position: absolute;
  margin-top: -178px;
  color: #293952;
  }

      /* Selve billederne */
      img {
        width: 100%;
        height: auto;
        position: relative;
      }
     }

          /* Billederne til venstre i slideshowet */
          .left1 {
            margin-left: -415px;
          }

                .left2 {
                  margin-left: -830px;
                }

                  .left3{
                    margin-left: -1245px;
                  }

            .left4 {
              margin-left: -1660px;
            }

        .left5 {
          margin-left: -2075px;
        }
      }
    }

    .fællesslider{
      height: 270px;
      width: 100%;
      background-color: white;
      display: inline-flex;
      bottom: 0;
      overflow-wrap: break-word;
      //background-color: #45C2D1;

      .overskriftvideoside{
        position: absolute;
        margin: 15px 55px;

      }

          /* Pilen til venstre */
          .control_prev2, .control_prev3, .control_prev4, .control_prev5{
            margin-top: 110px;
            text-decoration: none;
            font-size: 60px;
            font-family: Roboto;
            color: black;
            z-index: 10;
            margin-left: 1%;
          }

                /* Pilen til højre */
                .control_next2, .control_next3, .control_next4, .control_next5{
                margin-top: 110px;
                text-decoration: none;
                font-size: 60px;
                font-family: Roboto;
                color: black;
                z-index: 10;
                margin-left: 88%;
                }

                    /* Selve slideshowet */
                    #slider2, #slider3, #slider4, #slider5 {
                      width: 95%;
                      height: 230px;
                      overflow: hidden;
                    //  margin: auto;
                      //margin-top: 4px;
                      position: absolute;
                      clip: rect(10px, 1000px);
                      margin: 40px 2.5% 0 2.5%;;
                      //overflow-x: visible;

                        /* Styring af billederne i slideshowet */
                        .slides2, .slides3, .slides4, .slides5 {
                           display: block;
                           width: 6560px;
                           max-height: 300px;
                           padding: 0%;
                          }

              /* Billederne i slideshowet */
              .slide2, .slide3, .slide4, .slide5  {
                float: left;
                list-style-type: none;
                width: 380px;
                height: auto;
                margin: 0 15px;

    /* Skriften over billederne */
    .text6 {
      background-color: rgba(255,255,255, 0.7);
      width: 135px;
      height: 70px;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 10px;
      font-size: 20px;
      font-family: 'Quattrocento Sans', sans-serif;
      position: absolute;
      margin-top: -178px;
      color: #293952;
      }

          /* Selve billederne */
          img {
            width: 100%;
            height: auto;
            position: relative;
          }
         }

              /* Billederne til venstre i slideshowet */
              .left1 {
                margin-left: -415px;
              }

                    .left2 {
                      margin-left: -830px;
                    }

                      .left3{
                        margin-left: -1245px;
                      }

                .left4 {
                  margin-left: -1660px;
                }

            .left5 {
              margin-left: -2075px;
            }
          }
        }

/* Forside mobil. */

/* Billedet øverst med tekst ovenpå. */
.forsidetekstogbillede {
  position: relative;
  margin: 0;
  clear: both;
  margin-bottom: 60%;

.forsidebillede {
  width: 100%;
  height: auto;
  margin-top: 2%;
  position: absolute;
}

.help {
  position: absolute;
  text-align: left;

  h1 {
    font-size: 50px;
    margin-bottom: 0;
    margin-left: 7%;
    text-align: left;
    color: #48C3D1;
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
  }

  h2 {
    font-size: 35px;
    margin-top: 2px;
    margin-left: 7%;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
    color: #48C3D1;
  }

  h3 {
    font-size: 20px;
    margin-top: 2px;
    margin-left: 7%;
    font-family: 'Raleway', sans-serif;
    color: #48C3D1;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

  button {
    background-color: #FF5252;
    border: none;
    padding: 6px 30px;
    border-radius: 50px;
    position: absolute;
    top: 165px;
    left: 100px;
    color: white;
    margin-left: -90px;
    font-family: 'Raleway', sans-serif;

    a {
    text-decoration: none;
    list-style-type: none;
    color: white;
  }
 }
}

/* De øverste bokse. */
.trebokse {
  text-align: center;

.first, .second, .third {

  h1 {
    margin-top: 30px;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
  }

  p {
  margin: 4% 6%;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  list-style-type: none;
  }
}

    button {
      background-color: #FF5252;
      border: none;
      padding: 6px 30px;
      color: white;
      border-radius: 50px;
      margin-bottom: 30px;
      font-family: 'Raleway', sans-serif;
  }

  hr {
    background-color: #FF5252;
    width: 300px;
    height: 2px;
    border-style: groove;
    border: none;
  }
}

/* Billedet af Klaus og teksten. */
.klausogtekst {
  width: 100%;
  height: auto;

  .klaus {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.boksomklaus {
  background-color: #2A2A2A;
  margin-top: -4px;

  p {
    margin: 0;
    padding: 6% 13%;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    list-style-type: none;
  }
 }
}

/* Tekstbokse. */
.tekstbokse {
  background-color: white;
  text-align: center;
  width: 100%;

  .tekstboks2, .tekstboks1 {
    margin: 30px 20px 20px 20px;
    border: 1px;
    border-style:groove;
    border-color: black;
  }

  h1 {
    margin-top: 50px;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
  }

  p {
    color: black;
    padding: 3px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    list-style-type: none;
  }

  button {
    background-color: #FF5252;
    color: white;
    margin-bottom: 50px;
    border: none;
    padding: 5px 35px;
    color: white;
    border-radius: 50px;
  }
 }

.brugfor {
  text-align: center;
  background-color: #2A2A2A;
  padding: 0% 0% 5% 0%;

  h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
  }

  p {
    margin: 5px 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
  }

  button {
    background-color: #FF5252;
    border: none;
    padding: 5px 30px;
    color: white;
    border-radius: 50px;
    margin-top: 3%;
 }
}

/* Videobiblioteket på forsiden. */
.videobibliotekforside {
  background-color: #48C3D1;

  h1 {
    padding-top: 6%;
    color: white;
    text-align: center;
    margin-top: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
  }

a {
  list-style-type: none;
  text-decoration: none;

  .videoforside, .videoforside2, .videoforside3, .videoforside4 {
    width: 90%;
    margin-top: 10px;
    padding-bottom: 3%;
    margin-left: 5%;
    position: relative;
  }

    .tekst1, .tekst2, .tekst3, .tekst4 {
      color: black;
      font-size: 14px;
      background-color: rgba(255,255,255, 0.5);
      position: absolute;
      margin-top: -145px;
      margin-left: 19px;
      padding: 25px 40px;
      font-family: 'Montserrat', sans-serif;
      list-style-type: none;
    }
  }

  p {
    margin: 0;
    color: white;
    text-align: center;
    padding-bottom: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    list-style-type: none;
  }
 }


/* Om Juviva mobil. */
/* Billedet af Klaus og teksten. */
.omosklaus {
  width: 100%;
  height: auto;

  .klausom {
    width: 100%;
    height: auto;
    margin-top: 2px;
}

.tekstbokstopom {
  background-color: white;
  margin-top: -4px;

  h1 {
    padding: 9% 13% 0% 13%;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
  }

  p {
    margin: 0;
    padding: 1% 13% 13% 13%;
    font-size: 13px;
    font-style: italic;
    color: black;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
  }
 }
}

.billede1, .billede2, .billede3, .billede4, .billede5, .billede6 {
  display: none;
}

.tekstboksomjuviva {
  margin-top: 0px;
  background-color: #FF5252;
  padding: 5px 5px;
}

h1 {
  padding-top: 25px;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

p {
  color: white;
  padding: 3px 20px;
  text-align: center;
  margin-bottom: 40px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
}

//login side
.brugerwrap{
  width: 60%;
  margin: auto;

  .login, .opretbruger{
    width: 100%;
    font-family: Raleway;
    //float: left;
    margin: 10px;



    label{
      margin-top: 5px;
      width: 50px;
      clear: both;

      b{
      width: 50px;
      }
    }

    input{
      margin: 10px 0px 20px;
      width: 100%;
      border: none;
      border-bottom: 1px solid;
      clear: both;
    }

    button{
      text-align: center;
      margin: 10px;
      font-family: Raleway;
      padding: 5px 20px;
      border-radius: 30%;
      border: none;
      width: 65%;
    }
  }
  .login{
    padding-bottom: 30px;
    border-bottom: 1px solid;
  }
  .opretbruger{
    margin-top: 40px;
  }
}

//online konsultation side
main{


  .imgkonsultation{
    width: 100%;
    position: relative;
    clear: both;

    img{
      width: 100%;
    }

    .tekstkonsultation{
      position: absolute;
      top: 5%;
      left: 5%;
      text-align: left;
      width: 30%;

      h1{
        text-align: left;
        color: black;
        font-weight: bold;
      }
      h2{
        text-align: left;
        color: black;
      }
      h3{
        text-align: left;
        color: black;
      }
    }
    button{
      width: 70px;
      background-color: red;
      border: none;
      border-radius: 25px;
      padding: 2px;
      text-align:center;
      margin-top: 20px;
      margin-bottom: 20px;
      position: absolute;
      bottom: 5%;
      left: 5%;

    }
  }

  .konsultationinfo{

    .infotekst{

      h2{
        text-align: center;
      }
      .konsultationtekst{
        color: black;
      }
    }
    .knapkonsultation{
      margin: auto;
      width: 80px;

      .knapwrap{

      button{
        width: 100%;
        background-color: lightblue;
        border: none;
        border-radius: 25px;
        padding: 2px;
        text-align:center;
        margin-top: 20px;
        margin-bottom: 20px;

      }
      }
    }
  }
  //skiv her
}//online konsultation slut her

footer {
  background-color: #2A2A2A;
  height: 125px;
  clear: both;

  div{
    margin: auto;
    width: 70%;
    padding: 10px;

    p{
      font-size: 12px;
      padding: 2px;
      margin-bottom: 0;
      margin-top: 20px;
      color: white;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
    }
    div{
      width: 100%;
      text-align: center;

      p{
        display: inline-block;
        font-size: 11px;
        padding: 5px;
        margin-bottom: 0;
        color: white;
        font-family: 'Montserrat', sans-serif;
        list-style-type: none;
      }
    }
   }
 }
}

@media screen and (min-width: 766px){ /* Tablet-version */

body {

  header {
    height: 90px;

    div {

      a {

        img {
        width: 130px;
        height: auto;
        margin: 4% 0% 2% 4%;
       }
     }
   }

   .navi {

       .overlayer {

            a {
             font-size: 28px;
           }
         }

       .closebut {
         font-size: 60px;
       }
     }

   span {
     display: block;
     font-size: 34px;
     color: #293952;
     cursor: pointer;
     float: right;
     margin: -9.5% 4% 0 0;
     }
    }

/* Forside ipad. */

.forsidetekstogbillede {
  margin-bottom: 55%;

  .forsidebillede {
    margin-top: 1%;
   }

.help {

  h1 {
    font-size: 110px;
    margin-bottom: 0;
    margin-left: 10%;
    text-align: left;
  }

  h2 {
    font-size: 90px;
    margin-top: 2px;
    margin-left: 10%;
    border-bottom: 3px black;
    border-bottom-style: inset;
  }

  h3 {
    font-size: 40px;
    margin-top: 2px;
    margin-left: 10%;
    font-family: 'Raleway', sans-serif;
  }
}

  button {
    top: 350px;
    border: none;
    padding: 5px 35px;
    color: white;
    border-radius: 50px;
    margin-left: -70px;
  }
 }

/* De øverste bokse. */
.trebokse {
  width: 100%;
  height: 200px;

  .second, .third, .first {
    margin-top: 0;
    width: 33.2%;
    display: inline-block;
    float: left;
    border-right: 1px black;
    border-right-style: inset;
   }

   .third {
     border-right: none;

     button {
       margin-top: 41.5%;
     }
   }

   .second {

     button {
       margin-top: 25%;
     }
   }

   h1 {
     margin: 0;
   }

   hr {
     display: none;
   }
  }

/* Billedet af Klaus og teksten. */
  .klausogtekst {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;

    .klaus {
      width: 50%;
      height: 50%;
      margin-top: 0;
      }

 .boksomklaus {
    margin-left: 0px;
    width: 100%;
    padding: 0;
    margin-top: 0;

    p {
      color: white;
      padding: 60px 60px 0px 60px;
    }
  }
}

  /* Tekstbokse. */
  .tekstbokse {
    width: 80%;
    clear: both;
    height: 370px;
    margin-left: 12.7%;
    margin-top: 25px;

    .tekstboks2, .tekstboks1 {
      width: 40%;
      float: left;
    }

    .tekstboks1 {
      padding-right: 1.5%
    }

    button {
      margin-top: 10%;
    }
   }

.brugfor {
  margin-bottom: 0%;
  margin-top: 9%;

  h1 {
    padding-top: 7%;
  }

  button {
    margin-top: 3%;
  }
  }

  /* Videobiblioteket på forsiden. */
  .videobibliotekforside {
    padding-left: 8px;

  a {

    .videoforside, .videoforside2, .videoforside3, .videoforside4 {
      width: 24%;
      margin-top: 10px;
      padding-bottom: 3%;
      margin-left: 2px;
      position: relative;
    }

    .tekst1 {
      margin-top: -102px;
      margin-left: 2px;
      padding: 17px 13px;
      font-size: 13px;
    }

      .tekst2 {
        margin-top: -102px;
        margin-left: 191px;
        font-size: 13px;
        padding: 17px 7px;
      }


      .tekst3 {
        margin-top: -102px;
        margin-left: 379px;
        font-size: 13px;
        padding: 17px 7px;
      }

  .tekst4 {
    margin-top: -102px;
    margin-left: 567px;
    font-size: 13px;
    padding: 17px 7px;

      }
    }

    p {
      margin: 0;
      color: white;
      text-align: center;
      padding-bottom: 5%;
      list-style-type: none;
    }
   }

  //login side
  .brugerwrap{
    width: 90%;


    .login, .opretbruger{
      width: 40%;
      float: left;




      label{


        b{

        }
      }

      input{

      }

      button{

      }
    }
    .login{
      padding-right: 6%;
      border-right: 1px solid;
      border-bottom: none;
    }
    .opretbruger{
      margin-left: 6%;
      margin-top: 10px;
    }
  }

/* Om Juviva ipad-version. */
/* Billedet af Klaus og teksten. */
  .omosklaus {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;

    .klausom {
      width: 50%;
      height: 50%;
      margin-top: 0;
      }

      .tekstboksom {
         margin-left: 0px;
         width: 100%;
         padding: 0;

         h1 {
           padding-top: 90px;
         }

    p {
      color: white;
      padding: 198px 60px 0px 60px;
    }
  }
}

.collagemain {
  position: relative;

  .billede1, .billede2, .billede3, .billede4, .billede5, .billede6 {
    width: 33.3%;
    height: auto;
    float: left;
    display: block;
  }

.tekstboksomjuviva {
  width: 100%;
  height: 288px;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  margin-top: 0;
  padding: 0;

  div {
    background-color: #FF5252;
    width: 47%;
    height: 180px;
    margin: auto;
    margin-top: 50px;

  h1 {
    color: white;
  }

  p {
      color: white;
      padding: 0 4%;
      padding-bottom: 0;
   }
  }
 }
}

//online konsultation side
main{


  .imgkonsultation{


    img{

    }

    .tekstkonsultation{


      h1{
        font-size: 80px;
        margin: 4px;
      }
      h2{
        font-size: 60px;
        margin: 4px;
      }
      h3{
        font-size: 40px;
        margin: 4px;
      }
    }
    button{
    width: 130px;
    font-size: 20px;
    left: 12%;
    bottom: 3%;

    }
  }

  .konsultationinfo{
    float: left;
    margin: auto;

    .infotekst{
      width: 48%;
      float: left;
      border-right: 1px solid;
      padding-right: 4%;
      margin: 10px 0 10px 10px;

      h2{

      }
      .konsultationtekst{

      }
    }
    .knapkonsultation{
      width: 45%;
      float: left;

      .knapwrap{
        width: 150px;
        margin: auto;
        margin-top: 130px;

      button{
        width: 150px;
        padding: 5px;

      }
      }
    }
  }
  //skiv her
}//online konsultation slut her

 }
}

@media screen and (min-width: 992px){ /* Desktop-version */

body {

  // h1 {
  //   font-size: 25px;
  // }

  header {
    width: 100%;

    div {

      a {

        img {
        width: 80px;
        height: auto;
        margin: 0;
        float: left;
        padding: 2.5% 0% 0% 3%;
       }
     }

       #mynav {
         display: none;
      }
    }

nav {
  float: right;
  text-decoration: none;
  display: inline-block !important;
  margin: auto;

  ul {
    margin: auto;
    margin: 35px 25px 0px 0px;

     li {
      text-decoration: none;
      font-family: 'Raleway', sans-serif;
      font-size: 18px;
      list-style-type: none;
      display: inline-block;
     }

      a {
      color: black;
      text-decoration: none;
      margin-left: 35px;
    }

      .active {
      font-weight: bolder;
      color: black;
      border-bottom: 2px solid #FF5252;
      padding-bottom: 8px;
    }

   a:link {
    }
   }
  }
 }

 /* Forside ipad. */

 .forsidetekstogbillede {

   .forsidebillede {
     margin-top: 0%;
    }

 .help {

   h1 {
     font-size: 220px;
     margin-top: 4%;
     margin-left: 10%;
   }

   h2 {
     font-size: 180px;
     margin-top: 2px;
     margin-left: 10%;
     border-bottom: 4px black;
     border-bottom-style: inset;
   }

   h3 {
     font-size: 70px;
     margin-top: 2px;
     margin-left: 10%;
   }
  }

  button {
    top: 630px;
    margin-left: -45px;

  }
 }

 /* De øverste bokse. */
 .trebokse {
   height: 370px;
   width: 100%;

   .second, .third, .first {
     width: 30%;
     margin-top: 0%;
     margin: 1.64%;

     h1 {
       font-size: 25px;
     }
    }

   .first {

      button {
        margin-top: 50px;
      }
    }

    .second {

      button {
        margin-top: 94px;
      }
    }

    .third {

      button {
        margin-top: 94px;
      }
    }
   }

 /* Billedet af Klaus og teksten. */
   .klausogtekst {

  .boksomklaus {

     p {
       color: white;
       font-size: 20px;
       padding: 250px 90px 0px 90px;
     }
   }
 }

   /* Tekstbokse. */
   .tekstbokse {
     height: 410px;
     width: 675px;
     margin: auto;

     .tekstboks2, .tekstboks1 {
       width: 290px;
       margin-top: 4%;

       h1 {
         font-size: 25px;
       }
     }

       .tekstboks2 {
         margin-left: 3%;
       }
    }

 .brugfor {
   margin-bottom: 0%;
   margin-top: 0;

   h1 {
     font-size: 30px;
   }
 }

 /* Videobiblioteket på forsiden. */
 .videobibliotekforside {
   padding-left: 12px;

   h1 {
     font-size: 30px;
   }

 a {

   .videoforside, .videoforside2, .videoforside3, .videoforside4 {
     width: 24.3%;
     margin-top: 3%;
   }

   .tekst1 {
     margin-top: -165px;
     margin-left: 2px;
     padding: 22px 17px;
     font-size: 16px;
   }

     .tekst2 {
       margin-top: -165px;
       margin-left: 334px;
       font-size: 16px;
       padding: 22px 17px;
     }


     .tekst3 {
       margin-top: -165px;
       margin-left: 665px;
       font-size: 16px;
       padding: 22px 17px;
     }

 .tekst4 {
   margin-top: -165px;
   margin-left: 996px;
   font-size: 16px;
   padding: 22px 17px;
     }
   }

   p {
     margin: 0;
     color: white;
     text-align: center;
     padding-bottom: 5%;
     list-style-type: none;
   }
  }

  /* Om Juviva ipad-version. */
  /* Billedet af Klaus og teksten. */
    .omosklaus {

      .klausom {
        width: 40%;
        height: 40%;
        }

        .tekstboksom {

           h1 {
             padding-top: 90px;
           }

      p {
        color: white;
        padding: 198px 60px 0px 60px;
      }
    }
  }

  .collagemain {
    position: relative;

    .billede1, .billede2, .billede3, .billede4, .billede5, .billede6 {
      width: 33.3%;
      height: auto;
      float: left;
      display: block;
    }

  .tekstboksomjuviva {
    width: 100%;
    height: 288px;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    margin-top: 0;
    padding: 0;

    div {
      background-color: #FF5252;
      width: 47%;
      height: 180px;
      margin: auto;
      margin-top: 50px;

    h1 {
      color: white;
    }

    p {
        color: white;
        padding: 0 4%;
        padding-bottom: 0;
     }
    }
   }
  }


 }
}
